<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>UserAdvert</title>
	<link th:href="@{/css/navbar.css}" rel="stylesheet"/>
	<link th:href="@{/css/main.css}" rel="stylesheet"/>
</head>
<body>
	<div th:replace="~{layouts/navbar_layout :: navbar}"></div>
	<h1>This is the adverts list</h1>
	
	<table id="adverts">
		<thead>
			<tr>
				<th>Title</th>
				<th>Username</th>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${advertList.empty}">
				<td colspan="2">No advertisements found</td>
			</tr>
			<tr th:each="advert : ${advertList}">
				<td><span th:text="${advert.title}"> Advert title  </span></td>
				<td><span th:text="${advert.user.name}"> Username  </span></td>
			</tr>
		</tbody>
	</table>
</body>
</html>